*{
  margin: 0;
  padding: auto;
}
.main{
  width: 100%;
  
}
.navbar{
  width: 100%;
  height: 105px;
  display: flex;
  background: rgb(38, 6, 152);
}

h2, #title{
  font-size: 50px;
  align-items: center;
  margin-left: 10%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.icon{

  /*color: rgb(255, 255, 255);*/
  font-size: 30px;
  font-family: Arial;
  padding: 20px;  
  float: left;
  padding-top: 40px; 
  
}
ul{
  float: left;
  display: grid;
  margin-top: 2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
   
}
ul li{
  list-style: none;
  margin-left: 2rem;
  /*margin-top: 20px;*/
  font-size: 26px;
  padding-left: 5rem;
  padding-bottom: 1rem;
  /*padding-right: 37px;*/
  
}

ul li a{
  text-decoration: none;
  color: white;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

ul li a:hover{
  color: rgb(0, 0, 0);
}

.info{
  display: flex;
  margin-top: 5rem;
  margin-left: 8rem;
  margin-right: 5rem;
}
.information{
  flex-direction: column;
}
#about{
  font-size: 20px;
  text-align: justify;
  margin-right: 20%;
}



#rent_btn{
  width: 160px;
  height: 40px;
  background: blue;
  border: none;
  font-family: Arial;
  font-size: 20px;
  border-radius: 30rem;
  border: 3px solid rgb(0, 0, 0);
  cursor: pointer;
  transition: 0.4 ease-in-out;

}
#rent{
  text-decoration: none;
  color:aliceblue;
  text-align: center;
  margin: 0 auto;
  display: block;
}
#rent_btn{
  text-decoration: none;
  transition: 0.3 ease;

}
#rent_btn :hover{
color: rgb(0, 128, 109);
}



