.main{
    width: 100%;
  }
  .navbar{
    width: 100%;
    height: 105px;
    /*margin: 10%,10%,10%,50%;*/
    display: flex;
    /*padding-left: 40px;*/
    background: rgb(38, 6, 152);
    /*padding-bottom: 25px;*/
    border-radius: 100px;
    
  }
  
  h2, #title{
    font-size: 50px;
    align-items: center;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  
  .icon{
  
    /*color: rgb(255, 255, 255);*/
    font-size: 30px;
    font-family: Arial;
    padding: 20px;  
    float: left;
    padding-top: 40px; 
    
  }
  ul{
    float: left;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
     
  }
  ul li{
    list-style: none;
    margin-left: 2rem;
    /*margin-top: 20px;*/
    font-size: 26px;
    padding-left: 5rem;
    padding-bottom: 1rem;
    /*padding-right: 37px;*/
    
  }
  
  ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }
  
  ul li a:hover{
    color: rgb(0, 0, 0);
  }
  
  
  
  