body {
    
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-color: #000000; /* Background color */
}

h1 {
    text-align: center; /* Center align text */
    color: #ffffff; /* Text color */
    margin-top: 5%; /* Margin top */
}

h2 {
    text-align: center; /* Center align text */
    color: #ffffff; /* Text color */
    margin-top: 5%; /* Margin top */
}




.set1images, .set2images {
    width: 100px; /* Desired width */
    height: 100px; /* Desired height */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
    border: 1px solid #ccc; /* Border */
    border-radius: 5px; 
    transition: transform 0.2s, opacity 0.2s; /* Animation */
    margin-bottom: 10%;
}

.imageset1, .imageset2 {
    display: flex;
    flex-wrap: wrap; /* Allow images to wrap */
    justify-content: center; /* Center images */
    gap: 10px; /* Space between images */
}

.image-container {
    display: flex;
    flex-direction: column; /* Stack images and buttons */
    align-items: center; /* Center align items */
}

.set1images:hover, .set2images:hover {
    transform: scale(1.3); /* Slightly scale up on hover */
    opacity: 0.9; /* Slightly reduce opacity on hover */
    transition: transform 0.2s, opacity 0.2s; /* Smooth transition */
}




