*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    
}
:root{
    font-size: 18px;
}
ul{
    display: flex;
    justify-content: center;  
    align-self: center;
}

a{
    font-size: 25px;
    color: #ffff;
}

.topnav, .navbar{ 
    background-color: rgba(1, 27, 33, 1);
    display: flex;
    align-items: center;
}
#car-logo{
    width: 13rem; /* set a fixed width */
    height: 125px; /* set a fixed height */
    object-fit: cover;/* ensure the image is scaled to fit the container */
}
#profile_icon{
    width: 100px; /* set a fixed width */
    height: 100px; /* set a fixed height */
    object-fit: cover;/* ensure the image is scaled to fit the container */
}
.contact_class{
    display: inline-block;
    position: relative;
}

.drop_profile, .drop_service{
    display: none;
    position: absolute;
    background-color: rgba(1, 27, 33, 1);
    z-index: 999;
    padding: 20px 20px;
    margin-top: 10rem;
    text-align: center;
}

/* This makes sure that the dropdown is displayed when the parent is hovered */
li:hover .drop_profile, li:hover .drop_service {
    display: block;
}

ul, li{
    display: block;
    background-color: rgba(1, 27, 33, 1);
}

li,#dropdown1, #dropdown2, #dropdown3, #dropdown4{
    font-size: var(--font-size);
    margin-top: 20px;
    margin-bottom: 20px;

}

/*drop down position*/
.drop_service{
    margin-left: -50px;
    margin-top: 65px;
}
.drop_profile{
    margin-left: -5px;
    margin-top: 25px;
}
.drop_service, #dropdown1, #dropdown2, .drop_profile, #dropdown3, #dropdown4 { 
    text-align: center;
    width: auto;
}
#dropdown1, #dropdown2, #dropdown3, #dropdown4{
    padding-top: 20px;
}
#dropdown1:hover, #dropdown2:hover, #dropdown3:hover, #dropdown4:hover {
    background-color: rgb(255, 0, 0);
}

.column-content{
    background-color: rgb(178, 126, 227);
    display: flex;
    flex-direction: row;
    text-align: justify;
    justify-content: space-around;
    color: black;   
}

#column-content1,#column-content2,#column-content3{
    width: 20px;
}


.main2 {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.container, .sp_container{
    display: flex;
    height: 100%;
    width: 47%;
    background-color: rgba(1, 27, 33, 1);
    border-radius: 20px;
    padding: 40px;
    margin-top: 3%;
}

.sp-id {
    width: 100%;
    font-size: 20px;
    color: white;
    margin-top: 10px; 
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.cl_rent input, button {
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;  
    align-items: center;   
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    margin-left: 25%;

}

.cl-id {
    width: 100%;
    font-size: 20px;
    color: white;
    margin-top: 10px; 
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}


.pick{
    width: 50%;
    font-size: 20px;
    color: white;
    margin-top: 20px; 
    text-align: center;
    margin-left: 25%;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.supporting_id input, button {
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;  
    align-items: center;   
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    margin-left: 25%;
}

.payment_container {
    display: flex;
    height: 100%;
    width: 40%;
    background-color: rgba(1, 27, 33, 1);
    border-radius: 20px;
    padding: 40px;
    margin-top: 1%;
    margin-left: 30%;
    margin-bottom: 3%;
}

.payment input, button, select{
    width: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;  
    align-items: center;   
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    margin-left: 25%;
}

.payment-mode {
    font-size: large;
    color: aliceblue;
}

.payment-method {
    width: 100%;
    font-size: 20px;
    color: white;
    margin-top: 10px; 
    text-align: center;
    border-style: solid;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

