body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 5px;
    padding: 0;
   /* background: url('carwhite.jpg');
    background-position: center;
    background-size: auto; */
    
    
}

.navbar{
    
    width: 100%;
    height: 105px;
    /*margin: 10%,10%,10%,50%;*/
    display: flex;
    /*padding-left: 40px;*/
    background-color: rgba(1, 27, 33, 0.8);
    /*padding-bottom: 25px;*/
    border-radius: 100px;
    
    
  }

#title{
    color: white;
    font-size: 50px;
    align-items: center;
    margin-left: 10%;
    margin-top: 25px;
    margin-bottom: 20px;
}

.about {
    text-align: center;
    margin-top: 6%;
    color: rgb(0, 0, 0);
    padding: 50px;
    border-radius: 5px;
    background-color: rgba(1, 27, 33, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-family: 'Alkalami';font-size: 24px;
    color:rgb(255, 255, 255)
    
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 80px;
    margin-top: 1%;
    border-radius: 5px;
    background-color: rgba(1, 27, 33, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); 
}

.section {
    background: rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 20px;
    width: 30%;
    font-family: 'Alkalami';font-size: 24px;
    color:rgba(1, 27, 33, 0.8);
    text-align: justify;

}

.section h2{
    font-family: 'Alkalami';font-size: 32px;
    color:rgba(1, 27, 33, 0.8);
}

ul{
    float: left;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
     
  }

  ul li{
    list-style: none;
    margin-left: 2rem;
    /*margin-top: 20px;*/
    font-size: 26px;
    padding-left: 5rem;
    padding-bottom: 1rem;
    /*padding-right: 37px;*/
    
  }
  
  ul li a{
    text-decoration:none;
    color: white;
    font-family: 'Alkalami';font-size: 30px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
  }